@model WEBAPP.MVC.Models.EstoqueModels.AlmoxarifadoViewModel

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form asp-action="Atualizar">
        <input asp-for="Id" hidden />
        <br />
        <div class="container border p-3" style="background-color:#CEECF2;">
            <h1 class="text-primary">Atualizar produto</h1>
            <hr />
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-2">
                    <label asp-for="Nome" class="control-label pt-2" style="font-size=20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="Nome" class="form-control" value="@Model.Nome"/>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="MinimoEmEstoque" class="control-label pt-2" style="font-size=20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="MinimoEmEstoque" class="form-control" value="@Model.MinimoEmEstoque />
                    <span asp-validation-for="MinimoEmEstoque" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="MaximoEmEstoque" class="control-label pt-2" style="font-size=20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="MaximoEmEstoque" class="form-control" />
                    <span asp-validation-for="MaximoEmEstoque" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="Valor" class="control-label pt-2" style="font-size=20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>

                <div class="col-5 offset-2">
                    <a asp-action="Index" class="btn-primary btn form-control">Voltar</a>
                </div>
                <div class="col-5">
                    <input type="submit" value="Atualizar" class="btn btn-success form-control" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>