@model RH.Domain.Dtos.Input.DepartamentoCadastroDto

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Cadastrar novo departamento</h1>
    <br />
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <strong> Departamento:</strong>
        <br />
        <input type="text" name="NomeDepartamento" placeholder="Digite o nome do departamento">
        <strong class="text-danger">@Html.ValidationMessageFor(f => f.NomeDepartamento)</strong>
        <br />

        <strong> Sub-Departamento:</strong>
        <br />
        <input type="text" name="SubDepartamento" placeholder="Informe o sub-departamento">
        <strong class="text-danger">@Html.ValidationMessageFor(f => f.SubDepartamento)</strong>
        <br />
        <br />

        <input class="btn btn-success" type="submit" value="Cadastrar" />
        <input class="btn btn-secondary" type="button" value="Voltar" onclick="location.href='@Url.Action("Index","Departamentos")'" />
    }

</body>
</html>