@model WEBAPP.MVC.Models.DepartamentoModel

<form asp-action="Atualizar">
    <input asp-for="Id" hidden />
    <br />
    <div class="container border p-3" style="background-color:#CEECF2;">
        <h1 class="text-primary">Atualizar departamento @Model.NomeDepartamento / @Model.SubDepartamento</h1>
        <hr />
        <div class="row">

            <partial name="_DadosFormulario" />

            <div class="col-5">
                <input type="submit" value="Atualizar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>