@model WEBAPP.MVC.Modulos.RecursosHumanos.Models.InputModel.FuncaoAtualizacao

<form asp-action="Atualizar">
    <input asp-for="Id" hidden />
    <br />
    <div class="container border p-3" style="background-color:#CEECF2;">
        <h1 class="text-primary">Atualizar função: @Model.NomeFuncao</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="NomeFuncao" class="control-label pt-2" style="font-size=20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="NomeFuncao" class="form-control" />
                <span asp-validation-for="NomeFuncao" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control">Voltar</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Atualizar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>