<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <input type="button" onclick="location.href='@Url.Action("Estoque","Home")'"/>Epis
        <input type="button" />
        <input type="button" />
        <input type="button" />
    </body>
</html>