<!Doctype html>
<html>
<head>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Gerenciador de Recursos Humanos</h1>
    </div>
    <div class="home-menu">
        <div class="opcao-menu">
            <input id="funcionario-button" type="button" value="Funcionarios" onclick="location.href='@Url.Action("Index","Funcionarios")'" />
            <p class="menu-descricao">Funcionarios</p>
        </div>
        <div class="opcao-menu">
            <input id="departamento-button" type="button" value="Departamentos" onclick="location.href='@Url.Action("Index","Departamentos")'" />
            <p class="menu-descricao">Departamentos</p>
        </div>
        <div class="opcao-menu">
            <input id="funcao-button" type="button" value="Funções" onclick="location.href='@Url.Action("Index","Funcoes")'" />
            <p class="menu-descricao">Funções</p>
        </div>
        <div class="opcao-menu">
            <input id="pagamento-button" type="button" value="Pagamentos" onclick="location.href='@Url.Action("Index","Pagamentos")'" />
            <p class="menu-descricao">Pagamentos</p>
        </div>
    </div>
</body>
</html>