@model RH.Domain.Dtos.Input.PagamentosDto

<!DOCTYPE html>
<html>
<head>
    <script>
        function pagamento(){
            alert("Gerada folha de pagamento");
        } 

        function decimoTerceiro(){
            alert("Gerada parcela do 13º")
        }

        function ferias(){
            alert("Gerada ferias do funcionario")
        }
    </script>
</head>
<body>
    <h2>Gerar folha de pagamentos</h2>

    <div class="col-md-4">
        <form asp-action="GerarFolhaPagamento">
            <div class="form-group">
                <label asp-for="DataPagamento" class="control-label"></label>
                <input asp-for="DataPagamento" class="form-control" />
                <span asp-validation-for="DataPagamento" class="text-danger"></span>
            </div>
            <input type="submit" value="GerarFolhaPagamento" onclick="pagamento();"/>
        </form>
    </div>

    <br />
    <hr />
    <h2>Gerar 13º</h2>

    <div class="col-md-4">
        <form asp-action="GerarDecimoTerceiro">
            <div class="form-group">
                <label asp-for="DataPagamento" class="control-label"></label>
                <input asp-for="DataPagamento" class="form-control" />
                <span asp-validation-for="DataPagamento" class="text-danger"></span>
            </div>
            <input type="submit" value="GerarDecimoTerceiro" onclick="decimoTerceiro();"/>
        </form>
    </div>

    <br />
    <hr />
    <h2>Gerar Férias</h2>

    <div class="col-md-4">
        <form asp-action="GerarFerias">
            <div class="form-group">
                <label asp-for="DataPagamento" class="control-label"></label>
                <input asp-for="DataPagamento" class="form-control" />
                <span asp-validation-for="DataPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioId" class="control-label"></label>
                <select asp-for="FuncionarioId" asp-items="@ViewBag.Funcionarios"></select>
                <span asp-validation-for="DataPagamento" class="text-danger"></span>
            </div>
            <input type="submit" value="GerarFerias" onclick="ferias();"/>
        </form>
    </div>
</body>
</html>