@model RH.Domain.Dtos.Input.PagamentosDto

<!DOCTYPE html>
<html>
<head>
    <script>
    </script>
</head>
<body>
    <h2>Gerar folha de pagamentos</h2>

    <form asp-action="GerarFolhaPagamento">
        <div class="form-group">
            <label asp-for="DataPagamento" class="control-label"></label>
            <input asp-for="DataPagamento" class="form-control" />
            <span asp-validation-for="DataPagamento" class="text-danger"></span>
        </div>
        <input type="submit" value="GerarFolhaPagamento" />
    </form>

    <br />
    <hr />
    <h2>Gerar 13º</h2>

    <form asp-action="GerarDecimoTerceiro">
        <div class="form-group">
            <label asp-for="DataPagamento" class="control-label"></label>
            <input asp-for="DataPagamento" class="form-control" />
            <span asp-validation-for="DataPagamento" class="text-danger"></span>
        </div>
        <input type="submit" value="GerarDecimoTerceiro" />
    </form>

    <br />
    <hr />
    <h2>Gerar Férias</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div>Data de pagamento:</div>
        <input type="date" name="DataPagamento">
        @Html.ValidationMessageFor(f => f.DataPagamento)

        <div>Funcionario:</div>
        <select name="Funcionario" items="@Html.DropDownList("Funcionarios")"></select>
        @Html.ValidationMessageFor(f => f.FuncionarioId)

        <input type="submit" value="GerarFerias" />
    }
</body>
</html>