@model WEBAPP.MVC.Modulos.RecursosHumanos.Models.InputModel.FuncionarioCadastro

<div class="col-2">
    <label asp-for="Cep" class="control-label pt-2" style="font-size=20px;"></label>
</div>
<div class="col-10 pb-3">
    <input asp-for="Cep" class="form-control" />
    <span asp-validation-for="Cep" class="text-danger"></span>
</div>

<div class="col-2">
    <label asp-for="Numero" class="control-label pt-2" style="font-size=20px;"></label>
</div>
<div class="col-10 pb-3">
    <input asp-for="Numero" class="form-control" />
    <span asp-validation-for="Numero" class="text-danger"></span>
</div>

<div class="col-2">
    <label asp-for="Complemento" class="control-label pt-2" style="font-size=20px;"></label>
</div>
<div class="col-10 pb-3">
    <input asp-for="Complemento" class="form-control" />
    <span asp-validation-for="Complemento" class="text-danger"></span>
</div>