@model RH.Domain.Dtos.Views.FuncaoAumentoViewResult

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div>
            <input type="text" name="AumentoPercentual">
            @Html.ValidationMessageFor(x => x.AumentoPercentual)
            <br>
            <label>Aumento Percentual</label>
            <br>
            <input type="submit" value="AumentarTodosSalarios">
        </div>

        <div>
            <input type="text" name="AumentoFixo">
            @Html.ValidationMessageFor(x => x.AumentoFixo)
            <br>
            <label>Aumento Fixo</label>
            <br>
            <input type="submit" value="AumentarTodosSalarios">
        </div>
    }
</body>
</html>