@model RH.Domain.Dtos.Input.FuncaoCadastroDto

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form asp-action="Cadastrar">
        <h1>Cadastrar nova função</h1>
        <br />
        <div>
            <label asp-for="NomeFuncao"></label>
            <input asp-for="NomeFuncao" />
            <span asp-validation-for="NomeFuncao"></span>
            <br />
        </div>
        <div>
            <label asp-for="Salario"></label>
            <input asp-for="Salario" />
            <span asp-validation-for="Salario"></span>
        </div>
        <br />
        <input type="submit" value="Cadastrar" />
        <input type="button" value="Voltar" onclick="location.href='@Url.Action("Index","Funcoes")'"
    </form>
</body>
</html>