@model RH.Domain.Dtos.Views.FuncaoViewDtoResult

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Editar Função</h1>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div>Nome:</div>
        <input type="text" name="NomeFuncao" value="@Model.NomeFuncao">
        @Html.ValidationMessageFor(f => f.NomeFuncao)

        <input type="submit" value="Editar" class="btn btn-primary" />
    }
    <input type="button" value="Voltar" onclick="location.href='@Url.Action("Index","Funcoes")'" />
</body>
</html>