<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>

    <h1>Prezado {{username}}, </h1>
    <p>
        Um dos momentos mais emocionantes e que todo RH gostaria de comunicar,
        é escolha e aprovação de um profissional para somar a nossa equipe.
        <br />
        Então, queremos lhe dizer que você foi aprovado! <strong>Parabéns!!!</strong> &#129321
    </p>
    <p>
        Informamos que sua data de admissão será no dia {{admissao}} e que neste dia o sr(a).
        deverá comparecer no setor de RH ás 09:00, para ser encaminhado a seu respectivo setor.
    </p>
    <p>
        Qualquer dúvida, por favor, nos contate por e-mail.
    </p>
    <p>
        Cordialmente,
        <br />
        Sua nova empresa LTDA.
    </p>
</body>
</html> 