@model WEBAPP.MVC.Modulos.RecursosHumanos.Models.DepartamentoModel

<form asp-action="Cadastrar">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Cadastrar novo departamento</h1>
        <hr />
        <div class="row">

            <partial name="_DadosFormulario" />

            <div class="col-5">
                <input type="submit" value="Cadastrar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}