@model RH.Domain.Dtos.Input.FuncionarioCadastroDto

<!DOCTYPE html>
<html>
<head>
    <style>
        .teste {
            display: flex;
        }

        input {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="button-container">
        <input class="btn btn-secondary btn-sm" type="button" value="Voltar" onclick="location.href='@Url.Action("Index","Funcionarios")'" />
    </div>

    <h1>Cadastrar novo funcionario</h1>
    <form asp-action="Cadastrar" class="row gy-2 gx-3 align-items-center">

        <div class="teste">
            <div class="col-md-4">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="NomeSocial" class="form-label"></label>
                <input asp-for="NomeSocial" class="form-control" />
                <span asp-validation-for="NomeSocial"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>

        </div>

        <div class="teste">
            <div class="col-md-2">
                <label asp-for="Sexo" class="form-label"> Sexo</label>
                <br />
                <input asp-for="Sexo" type="radio" name="sexoradio" value="Masculino" class="form-check-input" id="mascradio" /> Masculino
                <input asp-for="Sexo" type="radio" name="sexoradio" value="Feminino" class="form-check-input" id="femradio" /> Feminino
            </div>
            <div class="col-md-2">
                <label asp-for="DataNascimento" class="form-label"></label>
                <input asp-for="DataNascimento" type="date" class="form-control" />
                <span asp-validation-for="DataNascimento"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Cpf" class="form-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="RG" class="form-label"></label>
                <input asp-for="RG" class="form-control" />
                <span asp-validation-for="RG"></span>
            </div>
        </div>

        <div class="teste">
            <div class="col-md-4">
                <label asp-for="Banco" class="form-label"></label>
                <input asp-for="Banco" class="form-control" />
                <span asp-validation-for="Banco"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Agencia" class="form-label"></label>
                <input asp-for="Agencia" class="form-control" />
                <span asp-validation-for="Agencia"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="ContaCorrente" class="form-label"></label>
                <input asp-for="ContaCorrente" class="form-control" />
                <span asp-validation-for="ContaCorrente"></span>
            </div>
        </div>

        <div class="teste">
            <div class="col-md-4">
                <label asp-for="Cep" class="form-label"></label>
                <input asp-for="Cep" class="form-control"/>
                <span asp-validation-for="Cep"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Numero" class="form-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Complemento" class="form-label"></label>
                <input asp-for="Complemento" class="form-control"/>
                <span asp-validation-for="Complemento"></span>
            </div>
        </div>

        <div class="teste">
            <div class="col-md-4">
                <label asp-for="DepartamentoId" class="form-label"></label>
                <select asp-for="DepartamentoId" asp-items="ViewBag.Deptos" class="form-control"></select>
                <span asp-validation-for="DepartamentoId"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="FuncaoId" class="form-label"></label>
                <select asp-for="FuncaoId" asp-items="ViewBag.Funcs" class="form-control"></select>
                <span asp-validation-for="FuncaoId"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Admissao" class="form-label"></label>
                <input asp-for="Admissao" class="form-control"/>
                <span asp-validation-for="Admissao"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>
    </form>
</body>
</html>