<a class="btn btn-danger" asp-area="Estoque" asp-controller="Epi" asp-action="Index">Manutenção de estoque</a>
<a class="btn btn-danger" asp-area="Estoque" asp-controller="Epi" asp-action="Index">Retiradas</a>
<button onclick="location.href='@Url.Action("Index","Epi")'">Retiradas</button>

<div class="teste">
    <h1>SEILA</h1>
</div>