

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <button onclick="location.href='@Url.Action("Index","Epi")'">Manutenção de estoque</button>
    <button onclick="location.href='@Url.Action("Index","Epi")'">Retiradas</button>

    <div class="teste">
        <h1>SEILA</h1>
    </div>
</body>
</html>