<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <button onclick="location.href='@Url.Action("Index","Epi")'">Manutenção de estoque</button>
        <button onclick="location.href='@Url.Action("Index","Epi")'">Retiradas</button>
    </body>
</html>