@{
    ViewData["Title"] = "Home Page";
}

<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/teste.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <nav class="navbar navbarTeste navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006_f2.png" width="220" height="80" /></a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active   " href="#">QUem somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active   " href="#">Parceiros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active   " href="#">Serviços</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section id="quemSomos" style="color: white;">
            <div class="container-fluid text-center" style="background-color:blue; padding-top:20px; padding-bottom:50px;">
                <h3>Quem somos</h3>
                <img src="https://sm.ign.com/ign_br/screenshot/default/blob_bkmv.jpg" class="rounded-circle" width="400" heigh="400" />
                <h3>Somos um time comprometido com os resultados</h3>
            </div>
        </section>

        <section id="parceiros">
            <div class="container-fluid text-center margin" style="padding-bottom:20px; background-color:#58FAF4;">
                <h3>
                    Parceiros
                </h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://i.pinimg.com/originals/98/03/1a/98031ae4dcc82b668b67d4cd7742775b.png" width="200" heigh="200"/>
                        </div>
                        <div class="col-md-4">
                            <img src="https://shop7.webmodule.prestashop.net/pokedoge/13875-home_default/braixen.jpg" width="200" heigh="200"/>
                        </div>
                        <div class="col-md-4">
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/156.png" width="200" heigh="200"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="servicos">
            <div class="container-fluid text-center" style="padding-botton:50px; padding-top:20px;">
                <h3 class="margin">servicos</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Delphox</p>
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/655.png" width="200" heigh="200" />
                        </div>
                        <div class="col-lg-4">
                            <p>Typhlosion</p>
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/157.png" width="200" heigh="200" />
                        </div>
                        <div class="col-lg-4">
                            <p>Emboar</p>
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/500.png" width="200" heigh="200" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>