@{
    ViewData["Title"] = "Home Page";
}

<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/teste.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Bem vindo ao sistema de gerenciamento!</h1>

        <section id="servicos">
            <div class="container-fluid text-center" style="padding-botton:50px; padding-top:20px;">
                <h3 class="margin">servicos</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Recursos Humanos</p>
                            <img src="https://freepikpsd.com/file/2019/10/hr-png-5-Transparent-Images.png" width="200" heigh="200" />
                        </div>
                        <div class="col-lg-4">
                            <p>Estoque</p>
                            <img src="http://blog.gazinatacado.com.br/wp-content/uploads/2015/04/Untitled-2.png" width="100" heigh="200" onclick="location.href='@Url.Action("Estoque","Home")'" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>